* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    // font: .85rem Arial, 'microsoft yahei', 'SimSun';
}
.content {
    width: 74.375rem;
    height: 100%;
    margin: auto;
    position: relative;
}
.w-car{
    width: 61.875rem;
    height: 100%;
    margin: auto;
    position: relative;
}
#top {
    width: 100%;
    height: 1.9375rem;
    line-height: 1.9375rem;
    background: #f5f4f4;
    color: #7f7f7a;
    position: relative;
    z-index: 900;
    border-bottom: .0625rem solid #e6e6e6;

    a {
        color: #7f7f7a;
        font-size: .75rem;
    }

    .top-link {
        float: left;
        font-size: .75rem;

        span {
            display: inline;

        }

        a {
            margin-left: .625rem;
            color: #e3393c;
            font-size: .75rem
                /* 12/16 */
            ;
        }
    }

    .login-regin {
        width: 12.5rem;
        float: left;
        margin-left: 2.75rem;

        li {
            float: left;
        }

        .L-line::after {
            content: "|";
            padding: 0 .6875rem;
            color: #e6e6e6;
        }
    }

    .quick_list {
        float: right;
        height: 1.875rem;

        li {
            height: 1.9375rem;
            line-height: 1.9375rem;
            padding: 0 .5rem 0 .5rem;
            float: left;
            position: relative;

            b {
                -webkit-transition: -webkit-transform .2s ease-in 0s;
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: #cecece transparent transparent;
                border-width: .25rem .25rem 0;
                margin-left: .1875rem;
                position: relative;
                top: -.1875rem;
            }

        }

        .myzhongjiu {
            .myzhongjiu-menu {
                left: .1875rem;
                display: none;
                position: absolute;
                top: 1.875rem;
                right: 12.5rem;

                ol {
                    margin-block-start: 0;
                    margin-block-end: 0;

                    li {
                        line-height: 1.5625rem;
                        height: 1.5625rem;
                        display: block;
                        white-space: nowrap;
                    }
                }


            }


        }

        li:hover {
            background: #fff;
            line-height: 1.875rem;
            border-radius: .5rem .5rem 0 0;
        }

        li:hover .myzhongjiu-menu {
            display: block;
            left: .1875rem;
            border: .0625rem solid #ededed;
        }

        li:hover .myzhongjiu-menu li {
            background: #fff;
        }

        li:hover b {
            border: .25rem solid transparent;
            border-bottom-color: #cecece;
        }

        .wetchat_menu {
            text-align: center;
            z-index: 999;
        }

        .dropdown-menu {
            text-align: center;
            // width: 90px;
            // padding: 10px;
        }

        .dropdown-menu img {
            display: none;
        }

        .wetchat_menu:hover img {
            display: block;
            position: absolute;
            top: 1.875rem;
        }

        .APP_menu:hover img {
            display: block;
            position: absolute;
            top: 1.875rem;
        }
    }


}
.car-top{
    margin-bottom: 1.25rem;
    .car-logo {
        padding-left: .3125rem;
        // float: left;
        // display: inline-block;
        margin-top: .9375rem;
        img{height: 3.75rem;}
    }
    .propess{
        position: absolute;
        right: 0;
        top: 0;
    }
}
.goodcar-center{
    a{
        color: #333333;
    }
    .car-hd{
        height: 35px;
         position: relative;
        h2 {
            display: block;
            height: 20px;
            margin-bottom: 20px;
            font-size: 1.25rem /* 20/16 */;
            font-weight: bold;
            color: #333333;
        }
    }
    .cart-inner {
        border: 1px solid #ddd;
        border-top: 2px solid #b8c1c8;
        .cart-thead {
            height: 35px;
            background-color: #eff2f5;
            .t-checkbox {
                line-height: normal;
                text-align: left;
            }
            .column {
                width: 99px;
                height: 35px;
                border-right: 1px solid #f7f7f7;
                float: left;
                color: #666;
                font-size: .75rem /* 12/16 */;
                line-height: 35px;
            }
            .t-goods {
                width: 520px;
                text-align: center;
               
            }
            .t-price {
                width: 128px;
                text-align: right;
            }
            .t-quantity {
                width: 135px;
                text-align: center;
            }
        }
        .cart-tbody {
            border-bottom: 1px solid #ddd;
            .cart-toolbar {
                padding: 5px 10px;
                line-height: 44px;
                a {
                    text-decoration: none;
                    color: #666;
                }
            }
            span {
                display: inline-block;
            }
            .form label, .form input, .form select, .form textarea, .form button, .form .label {
                float: left;
                font-size: 12px;
            }
            input {
                font: 12px/1.5 tahoma, Arial, 'microsoft yahei', 'SimSun';
            }
            .item_selected {
                background: #FDFDF7;
            }
      .item, .item-meet,  .suit {
                clear: left;
            }
            .item {
                border-top: 1px solid #ddd;
                padding: 15px 0 0;
               
            }
            .mj {
                padding: 0 0 10px 19px;
                font-size: 12px;
                line-height: 24px;
            }
            .item_form {
                height: 52px;
            }
            .p-checkbox {
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                 input {
                    margin: 20px 0 0 19px;
                    margin: 17px 0 0 16px\9;
                    float: left;
                    display: inline;
                }
            }
            .cell {
                float: left;
                min-height: 52px;
            }
            .p-goods {
                width: 570px;
                overflow: hidden;
                .p-img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    border: 1px solid #ddd;
                    padding: 0;
                    float: left;
                    background-color: #fff;
                    img{
                        width: 100%;
                    }
                }
                .p-name {
                    a{
                        text-decoration: none;
                        color: #333333;
                    }
                    padding-right: 10px;
                    line-height: 18px;
                    height: 3em;
                    word-wrap: break-word;
                    font-size: .75rem;
                }
                .p-code {
                    color: #999999;
                    word-wrap: break-word;
                    font-size: .75rem /* 12/16 */;
                }
               
            }
            .p-price {
                // width: 52px;
                text-align: right;
                // line-height: 52px;
                  color: #999;
                  font-size: .75rem /* 12/16 */;
                  margin-right: 5px;
                  .price {
                    color: #e3393c;
                    font-family: Verdana, Arial;
                    
                }

            }

            .p-quantity {
                // line-height: 52px;
                width: 135px;
                text-align: center;
                .quantity-form {
                    width: 76px;
                    // height: 22px;
                    margin: 0 auto;
                    // padding-top: 16px;
                    overflow: hidden;
                    text-align: left;
                    a {
                        width: 13px;
                        height: 13px;
                        margin-top: 3px;
                        float: left;
                        display: block;
                        overflow: hidden;
                        line-height: 13px;
                        background: #fff;
                        border: 1px solid #ccc;
                        text-align: center;
                       
                    }
                    .quantity-text {
                        width: 34px;
                        height: 18px;
                        border: 1px solid #ddd;
                        border-top-color: #aaa;
                        border-left-color: #aaa;
                        padding-top: 2px;
                        overflow: hidden;
                        text-align: center;
                        background-color: #fff;
                    }
                    .decrement {
                        margin-right: 5px;
                    }
                    .increment {
                        float: right;
                    }
                }
            }
            .p-remove {
                text-align: center;
                width: 99px;
                color: #e3393c;
                font-size: .75rem /* 12/16 */;
            }
        }
    }
}
.ui-ceilinglamp-1 {
    width: 988px;
    height: 49px;
    font-size: 12px;
    .cart-dibu {
        clear: both;
        position: relative;
        width: 988px;
        height: 49px;
        .cart-total-2014 {
            background-color: #eff2f5;
            border-top: 1px solid #ddd;
            height: 48px;
            .cart-button {
                float: right;
                padding: 0;
                #toSettlement {
                    background-color: #ff4d50;
                    background-image: none;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: normal;
                    height: 36px;
                    left: -10px;
                    line-height: 36px;
                    text-align: center;
                    text-indent: 0;
                    top: 6px;
                    width: 120px;
                }
                a.checkout {
                    width: 135px;
                    display: block;
                    overflow: hidden;
                    text-indent: 33px;
                    color: #fff;
                    position: relative;
                    font-family: "\5FAE\8F6F\96C5\9ED1";
                }
            }
           
            .fr {
                float: right;
                margin-right: 3.75rem;
            }
            .total span {
                vertical-align: middle;
                font-size: 12px;
                font-weight: 400;
                font-family: Verdana, Arial;
                padding-right: 10px;
                padding-bottom: 2px;
            }
        }
        .jdcheckbox {
            float: none;
            vertical-align: -2px;
            padding: 0;
        }
    }
}
.cart-recommend{
    font-size: 12px;
    a {
        text-decoration: none;
        color: #666;
    }
    h3 {
    padding: 13px 0 15px 5px;
    font-size: 15px;
    color: #494e52;
    line-height: 15px;
    }
    ul {
        margin-right: -20px;
        li {
            float: left;
            width: 182px;
            border: 1px solid #f1f1f1;
            height: 220px;
            margin-bottom: 26px;
            margin-right: 18px;
            a {
                position: relative;
                i {
                    width: 182px;
                    height: 182px;
                    position: absolute;
                    top: -80px;
                    left: 0;
                    line-height: 182px;
                    text-align: center;
                    color: #fff;
                    opacity: 0;
                    background-color: #e3393c;
                    transition: all .3s;
                }
            }
        }
        li:hover i{
            display: block;
            opacity: .5;
        }
    }
}