@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.content {
  width: 74.375rem;
  height: 100%;
  margin: auto;
  position: relative;
}

#top {
  width: 100%;
  height: 1.9375rem;
  line-height: 1.9375rem;
  background: #f5f4f4;
  color: #7f7f7a;
  position: relative;
  z-index: 900;
  border-bottom: .0625rem solid #e6e6e6;
}

#top a {
  color: #7f7f7a;
  font-size: .75rem;
}

#top .top-link {
  float: left;
  font-size: 0.75rem;
}

#top .top-link span {
  display: inline;
}

#top .top-link a {
  margin-left: .625rem;
  color: #e3393c;
  font-size: 0.75rem;
}

#top .login-regin {
  width: 12.5rem;
  float: left;
  margin-left: 2.75rem;
}

#top .login-regin li {
  float: left;
}

#top .login-regin .L-line::after {
  content: "|";
  padding: 0 .6875rem;
  color: #e6e6e6;
}

#top .quick_list {
  float: right;
  height: 1.875rem;
}

#top .quick_list li {
  height: 1.9375rem;
  line-height: 1.9375rem;
  padding: 0 .5rem 0 .5rem;
  float: left;
  position: relative;
}

#top .quick_list li b {
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #cecece transparent transparent;
  border-width: .25rem .25rem 0;
  margin-left: .1875rem;
  position: relative;
  top: -.1875rem;
}

#top .quick_list .myzhongjiu .myzhongjiu-menu {
  left: .1875rem;
  display: none;
  position: absolute;
  top: 1.875rem;
  right: 12.5rem;
}

#top .quick_list .myzhongjiu .myzhongjiu-menu ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

#top .quick_list .myzhongjiu .myzhongjiu-menu ol li {
  line-height: 1.5625rem;
  height: 1.5625rem;
  display: block;
  white-space: nowrap;
}

#top .quick_list li:hover {
  background: #fff;
  line-height: 1.875rem;
  border-radius: .5rem .5rem 0 0;
}

#top .quick_list li:hover .myzhongjiu-menu {
  display: block;
  left: .1875rem;
  border: .0625rem solid #ededed;
}

#top .quick_list li:hover .myzhongjiu-menu li {
  background: #fff;
}

#top .quick_list li:hover b {
  border: .25rem solid transparent;
  border-bottom-color: #cecece;
}

#top .quick_list .wetchat_menu {
  text-align: center;
  z-index: 999;
}

#top .quick_list .dropdown-menu {
  text-align: center;
}

#top .quick_list .dropdown-menu img {
  display: none;
}

#top .quick_list .wetchat_menu:hover img {
  display: block;
  position: absolute;
  top: 1.875rem;
}

#top .quick_list .APP_menu:hover img {
  display: block;
  position: absolute;
  top: 1.875rem;
}

#header {
  width: 100%;
}

#header .header_menu {
  height: 5.625rem;
  padding-top: 1.875rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#header .header_menu .logo {
  float: left;
}

#header .header_menu .logo a {
  text-decoration: none;
  color: #666;
}

#header .header_menu .logo img {
  max-width: 13.75rem;
  max-height: 3.75rem;
  display: inline-block;
}

#header .header_menu .gtf {
  float: left;
  margin-left: 1.25rem;
}

#header .header_menu .gtf img {
  display: block;
  width: 6.25rem;
  height: 3.75rem;
}

#header .header_menu .header_search {
  float: right;
  position: relative;
  right: 21.875rem;
  width: 36.875rem;
  height: 2.125rem;
}

#header .header_menu .header_search .search_form {
  width: 100%;
  height: 100%;
  border: .125rem solid #dd0207;
}

#header .header_menu .header_search .search_form ul {
  position: absolute;
  left: 0;
  top: 2.25rem;
  cursor: pointer;
  display: none;
  width: 3.125rem;
  line-height: 2rem;
  font-size: .75rem;
  box-shadow: 0 .125rem .25rem #ddd;
  border: .0625rem solid #ddd;
  z-index: 2;
  background-color: white;
}

#header .header_menu .header_search .search_form label {
  position: absolute;
  left: 0;
  width: 3.4375rem;
  text-indent: .75rem;
  font-size: .75rem;
  line-height: 2.125rem;
  cursor: pointer;
  color: #484e52;
  border-left: .0625rem solid #fcd5db;
}

#header .header_menu .header_search .search_form label::after {
  content: '';
  position: absolute;
  top: .9375rem;
  right: 0;
  border-top: .3125rem solid #cecece;
  border-left: .25rem dashed transparent;
  border-right: .25rem dashed transparent;
  font-size: 0;
  width: 0;
  height: 0;
}

#header .header_menu .header_search .search_form .search_write {
  display: inline-block;
  height: 100%;
}

#header .header_menu .header_search .search_form .search_write .text_search {
  width: 28.125rem;
  height: 2.125rem;
  padding-left: .75rem;
  padding-bottom: .0625rem;
  position: relative;
  left: 3.5rem;
  background-color: #fff;
  height: 2.125rem;
  line-height: 2.125rem;
  color: #333333;
  font-size: .75rem;
  border-right: 0;
}

#header .header_menu .header_search .search_form .button {
  background: #dd0207;
  width: 4.4375rem;
  font-size: .9375rem;
  color: #fff;
  cursor: pointer;
  line-height: 2.125rem;
  letter-spacing: .125rem;
  border-left: .0625rem solid #f45670;
  float: right;
  border: 0 none;
}

#header .header_menu .header_search .search_form .hot-search {
  height: 1.25rem;
  color: #999;
  overflow: hidden;
  margin-top: .3125rem;
}

#header .header_menu .header_search .search_form .hot-search a {
  margin: 0px .3125rem;
  color: #545454;
  font-size: .75rem;
}

#header .header_menu .header_search .search_form .hot-search .active {
  color: red;
}

#header .header_menu .header_search .search_form .hot-search a:hover {
  color: red;
}

#header .header_menu .hearder_zc {
  position: absolute;
  right: 0;
  top: 1.25rem;
}

.nar_bar {
  width: 100%;
  margin: auto;
  height: 34px;
}

.nar_bar .nar_count {
  position: absolute;
  left: 0;
  width: 200px;
  height: 34px;
  z-index: 22;
  top: 0;
  background-color: #dd0207;
  border-bottom: 2px solid #dd0207;
}

.nar_bar .nar_count .goods_Categ {
  height: 34px;
  line-height: 37px;
  display: inline-block;
}

.nar_bar .nar_count .goods_Categ i {
  margin-left: 14px;
  color: #fff;
  font-weight: bold;
  vertical-align: top;
}

.nar_bar .nar_count .goods_Categ a {
  color: #fff;
  line-height: 34px;
  background-repeat: no-repeat;
  background-position: left center;
}

.nar_bar .nar_ul {
  position: absolute;
  left: 200px;
  filter: none;
  height: 34px;
  line-height: 34px;
  display: inline-block;
}

.nar_bar .nar_ul li {
  float: left;
  position: relative;
  margin-right: 78px;
  font-size: 15px;
}

.nar_bar .nar_ul li a {
  color: #545454;
}

.nar_bar .nar_ul #homePage {
  margin-left: 56px;
  float: left;
}

.nar_bar .nar_ul #homePage a {
  color: red;
}

.nar_bar .nar_ul li:hover a {
  color: red;
}

.nar_bar .Categ_all .Categ_name {
  position: absolute;
  top: 35px;
  left: 0;
  width: 200px;
  height: 480px;
  z-index: 100;
  border: 0;
  background-color: #3d4851;
  padding-top: 4px;
  padding-bottom: 6px;
}

.nar_bar .Categ_all .Categ_name .item {
  width: 200px;
  height: 80px;
  border-bottom: 1px solid #323b42;
  position: relative;
  left: 0;
  top: 0;
  z-index: 822228;
}

.nar_bar .Categ_all .Categ_name .item span {
  display: block;
  width: 184px;
  height: 80px;
  position: absolute;
  z-index: 1;
  background-color: #3d4851;
  opacity: .9;
  padding-left: 16px;
}

.nar_bar .Categ_all .Categ_name .item span h3 {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
  position: relative;
  padding: 19px 0 12px;
}

.nar_bar .Categ_all .Categ_name .item span h3 a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.nar_bar .Categ_all .Categ_name .item span p {
  height: 20px;
}

.nar_bar .Categ_all .Categ_name .item span p a {
  color: #fff;
  font-size: 13px;
  padding: 3px 4px;
}

.nar_bar .Categ_all .Categ_name .item span p .active {
  background: #fff;
  color: #000;
  border-radius: 2px;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl {
  display: none;
  position: fixed;
  left: 279px;
  width: 780px;
  top: 188px;
  border-top: 0;
  background: #fff;
  overflow: hidden;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem {
  float: left;
  width: 600px;
  min-height: 490px;
  display: table;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl {
  overflow: hidden;
  zoom: 1;
  width: 540px;
  margin-left: 30px;
  padding: 15px 0;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px dashed #dbdbdb;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dt {
  margin-right: 22px;
  border-bottom: 1px solid #313131;
  padding-bottom: 15px;
  font-size: 14px;
  color: #313131;
  font-weight: bold;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd {
  padding: 15px 0;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul {
  width: 100%;
  overflow: hidden;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul li {
  float: left;
  width: 90px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  color: #313131;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul li a {
  text-decoration: none;
  color: #666;
  font-size: 0.75rem;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul li a:hover {
  color: #cc0000;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul li:first-child {
  width: 80px;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl .subitem dl dd ul li.lastChild {
  width: 60px;
}

.nar_bar .Categ_all .Categ_name .item .categ_detl h5 {
  font-size: 0.875rem;
  text-align: center;
}

.lafei-banner {
  width: 100%;
  height: 10rem;
  position: relative;
  background: url(../img/lafei-banner.jpg) no-repeat center center;
}

.lafei-banner .banner-img {
  position: absolute;
  top: 2.5rem;
  left: 2.1875rem;
}

.lafei-banner .banner-img img {
  width: 6.25rem;
  height: 5rem;
}

.lafei-banner .banner-content p {
  float: right;
  width: 20rem;
  height: 8.375rem;
  font-size: .75rem;
  color: #fff;
  line-height: 1.25rem;
  padding: .5rem;
  text-indent: 2em;
  margin-top: .375rem;
  margin-right: .625rem;
}

.lafei-banner p:hover {
  width: 20rem;
  height: 8.375rem;
  background: #fff;
  color: #000;
}

.main-content {
  width: 100%;
  margin-bottom: 50px;
}

.main-content .crumb {
  font-family: '微软雅黑';
  line-height: 22px;
  height: 22px;
  padding: 12px 0;
  border-bottom: 1px solid #dbdbdb;
  font-size: 14px;
  color: #373a40;
}

.main-content .crumb .left {
  float: left;
  color: #373a40;
}

.main-content .crumb li {
  float: left;
  margin-right: 10px;
}

.main-content .crumb li a {
  color: #373a40;
}

.main-content .crumb strong {
  color: #373a40;
}

.main-content .crumb strong:hover {
  color: #f00f34;
}

.main-content .crumb .total-p {
  float: right;
  color: #373a40;
  padding-right: 22px;
}

.main-content .crumb .total-p strong {
  color: #f00f34;
  padding: 0 5px;
}

.main-content .s-content-b {
  padding-top: 16px;
  margin-top: 2px;
}

.main-content .s-content-b .s-left {
  display: inline-block;
}

.main-content .s-content-b .s-left #refilter {
  width: 190px;
  padding-top: 5px;
}

.main-content .s-content-b .s-left #refilter .mt {
  height: 14px;
  padding-left: 9px;
  line-height: 14px;
  margin-bottom: 20px;
}

.main-content .s-content-b .s-left #refilter .mt h2 {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.main-content .s-content-b .s-left #refilter .mc {
  width: 190px;
}

.main-content .s-content-b .s-left #refilter .mc .item {
  position: relative;
  background: #fff;
}

.main-content .s-content-b .s-left #refilter .mc .item h3 {
  overflow: hidden;
  height: 14px;
  line-height: 14px;
  padding-left: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
}

.main-content .s-content-b .s-left #refilter .mc .item h3 a {
  color: #333;
  font-weight: bold;
}

.main-content .s-content-b .s-left #refilter .mc .item li {
  height: 13px;
  line-height: 12px;
  padding-left: 36px;
  padding-top: 1px;
  overflow: hidden;
  margin-bottom: 15px;
}

.main-content .s-content-b .s-left #refilter .mc .item li a {
  color: #6b6c6e;
  font-size: .75rem;
}

.main-content .s-content-b .s-left #refilter .hover b {
  border-top: .3125rem solid #333;
  border-left: .3125rem solid transparent;
  border-right: .3125rem dashed transparent;
  display: inline-block;
  position: relative;
  margin-right: .3125rem;
  top: -0.125rem;
}

.main-content .s-content-b .s-left .m {
  margin-bottom: 10px;
}

.main-content .s-content-b .s-left .see-more {
  width: 180px;
  border: 1px solid #e1e1e1;
  margin: 0;
}

.main-content .s-content-b .s-left .see-more h2 {
  border-bottom: 1px solid #e1e1e1;
  line-height: 33px;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.main-content .s-content-b .s-left .see-more .more-produce {
  padding: 11px;
}

.main-content .s-content-b .s-left .see-more .more-produce a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
  font-size: .75rem;
}

.main-content .s-content-b .s-left .see-more .more-produce a img {
  width: 121px;
  height: 113px;
  margin: 5px 0 8px 0;
  display: inline-block;
}

.main-content .s-content-b .s-left .see-more .more-produce a p.name-line {
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content .s-content-b .s-left .see-more .more-produce a p.name-line:hover {
  color: #cc3333;
}

.main-content .s-content-b .s-left .see-more .more-produce a p.my-price-line-zi {
  text-align: left;
  font-size: 12px;
  color: #cc3333;
  line-height: 30px;
}

.main-content .s-content-b .s-left .see-more .more-produce a p.my-price-line-zi .comment {
  font-size: 10px;
  color: #666666;
  display: block;
  margin-left: 30px;
  line-height: 20px;
}

.main-content .s-content-b .s-left .see-more .more-produce a p.my-price-line-zi .comment em {
  color: #cc3333;
  font-size: 12px;
  padding: 0 5px;
}

.main-content .s-content-b .s-left .brand-consulting {
  width: 180px;
  border: 1px solid #e1e1e1;
  margin-top: 20px;
}

.main-content .s-content-b .s-left .brand-consulting h2.brand-title {
  border-bottom: 1px solid #e1e1e1;
  line-height: 33px;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow {
  padding: 11px;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow li {
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100% !important;
  text-decoration: none !important;
  float: none !important;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow li a {
  line-height: 22px;
  font-size: 12px;
  width: auto;
  float: none;
  text-decoration: none;
  color: #666;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow li a:hover {
  color: #f00f34;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow li {
  padding: 1px 0;
}

.main-content .s-content-b .s-left .brand-consulting #titltshow li:before {
  margin-right: 5px;
  margin-top: 8px;
  float: left;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #666666;
}

.main-content .s-content-b .s-left .brand-consulting .brand-more {
  width: 62px;
  float: right;
  padding-bottom: 15px;
  color: #666666;
}

.main-content .s-content-b .s-left .brand-consulting .brand-more a {
  color: #666666;
  font-size: 13px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-content .s-content-b .s-right {
  float: right;
  width: 61.875rem;
}

.main-content .s-content-b .s-right .RC-top {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f8f9f8;
  margin-bottom: 20px;
}

.main-content .s-content-b .s-right .RC-top #select {
  margin-bottom: 0;
  zoom: 1;
}

.main-content .s-content-b .s-right .RC-top #select .mc {
  overflow: visible;
}

.main-content .s-content-b .s-right .RC-top #select .mc .a-values .v-fold {
  height: 26px;
  overflow: hidden;
}

.main-content .s-content-b .s-right .RC-top #select .mc .a-values .v-option {
  position: absolute;
  right: 17px;
  top: 12px;
}

.main-content .s-content-b .s-right .RC-top #select .attr {
  width: 1000px;
  overflow: hidden;
  zoom: 1;
  position: relative;
}

.main-content .s-content-b .s-right .RC-top #select .attr .a-key {
  float: left;
  width: 65px;
  font-weight: bold;
  text-align: center;
  margin-right: 15px;
  font-size: 12px;
  color: #373a40;
  line-height: 51px;
}

.main-content .s-content-b .s-right .RC-top #select .attr .a-values,
.main-content .s-content-b .s-right .RC-top #select .attr .brand-attr .a-values {
  float: left;
  position: relative;
  width: 835px;
  border-bottom: 1px dotted #dcdcdc;
  padding: 12px 0;
  padding-right: 85px;
}

.main-content .s-content-b .s-right .RC-top #select .attr ul.f-list {
  width: 835px;
  padding-right: 85px;
  height: auto;
  overflow: hidden;
}

.main-content .s-content-b .s-right .RC-top #select .attr ul.f-list li {
  float: left;
  margin-right: 30px;
  line-height: 26px;
  font-size: 13px;
}

.main-content .s-content-b .s-right .RC-top #select .attr ul.f-list li a {
  color: #6b6c6e;
}

.main-content .s-content-b .s-right .RC-top #select .attr ul.f-list li a:hover {
  color: #f00f34;
  text-decoration: underline;
}

.main-content .s-content-b .s-right #filter {
  height: 46px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 1px 0;
}

.main-content .s-content-b .s-right #filter .fore1 {
  height: 28px;
  overflow: hidden;
  padding: 8px 20px 8px 15px;
  border-top: 1px dotted #dbdbdb;
  border-bottom: 1px dotted #dbdbdb;
}

.main-content .s-content-b .s-right #filter .order .curr {
  color: #000;
  font-weight: bold;
}

.main-content .s-content-b .s-right #filter .order .curr a {
  color: #000004;
  font-weight: bold;
}

.main-content .s-content-b .s-right #filter .order a {
  display: block;
  padding-right: 40px;
  color: #494e52;
  font-size: .75rem;
}

.main-content .s-content-b .s-right #filter .order dd {
  height: 28px;
  line-height: 28px;
  position: relative;
  float: left;
}

.main-content .s-content-b .s-right #filter .order dd a {
  display: block;
  padding-right: 40px;
  color: #494e52;
}

.main-content .s-content-b .s-right #filter .order dd .jdzy i {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #dfdfdf;
  margin: 5px 5px 0 0;
}

.main-content .s-content-b .s-right #filter .order .order-num b,
.main-content .s-content-b .s-right #filter .order .pro-price b,
.main-content .s-content-b .s-right #filter .order .pro-comment b {
  content: "";
  display: inline-block;
  border-bottom: 7px solid #999999;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  position: absolute;
  top: 12px;
  right: 26px;
}

.main-content .s-content-b .s-right #filter #top_pagi {
  float: right;
}

.main-content .s-content-b .s-right #filter #top_pagi span {
  height: 28px;
  line-height: 20px;
  padding: 5px 0 0 0;
  border-radius: 0;
  color: #999;
}

.main-content .s-content-b .s-right #filter #top_pagi span a {
  color: #666;
}

.main-content .s-content-b .s-right #filter .pagin {
  padding: 0 10px 10px 0;
}

.main-content .s-content-b .s-right #filter .pagin .text i {
  font-style: normal;
  font-weight: bold;
  color: #e3393c;
}

.main-content .s-content-b .s-right #filter .pagin .text .before {
  line-height: 14px;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  margin-left: 2px;
  vertical-align: middle;
  border-radius: 5px;
}

.main-content .s-content-b .s-right #filter .pagin .text .after {
  line-height: 14px;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  margin-left: 2px;
  vertical-align: middle;
  border-radius: 5px;
}

.main-content .s-content-b .s-right #filter dl,
.main-content .s-content-b .s-right #filter dt,
.main-content .s-content-b .s-right #filter dd {
  float: left;
  line-height: 26px;
}

.main-content .s-content-b .s-right #plist {
  margin-top: 1.5rem;
}

.main-content .s-content-b .s-right #plist .cl:after, .main-content .s-content-b .s-right #plist .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.main-content .s-content-b .s-right #plist .list-h li {
  margin-right: 16px;
  z-index: 1;
  position: relative;
  float: left;
  margin-bottom: 0.625rem;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap {
  width: 219px;
  padding: 5px;
  font-family: arial, \5b8b\4f53;
  border: 1px dotted #ddd;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap .p-img {
  position: relative;
  height: 218px;
  width: 218px;
  transition: border 0.3s ease-in 0s;
  text-align: center;
  margin-bottom: 10px;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap div.scale-img {
  height: 50px;
  padding-top: 5px;
  display: none;
  padding-bottom: 15px;
  padding-left: 7px;
  width: 226px;
  position: absolute;
  border: 1px solid #c4354c;
  border-top: none;
  background-color: #fff;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap div.scale-img a {
  display: inline-block;
  margin-right: 11px;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap .p-name {
  width: 219px;
  font-size: 13px;
  color: #333;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.main-content .s-content-b .s-right #plist .list-h li .lh-wrap .p-name a {
  color: #333;
  display: inline-block;
}

.main-content .s-content-b .s-right #plist .list-h li .p-shop-N {
  display: block;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 6px;
}

.main-content .s-content-b .s-right #plist .list-h li .p-shop-N label {
  font-size: 12px;
  color: #6b6c6e;
  /* width: 60%; */
  float: left;
}

.main-content .s-content-b .s-right #plist .list-h li .p-shop-N .shop-cart {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #f5f5f5;
  float: right;
  position: relative;
  right: 8px;
  top: -5px;
}

.main-content .s-content-b .s-right #plist .list-h li .p-shop-N .shop-cart i {
  font-size: .875rem;
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: pointer;
  color: #f00f34;
}

.main-content .s-content-b .s-right #plist .list-h li .scale-img {
  height: 50px;
  padding-top: 5px;
  display: none;
  padding-bottom: 15px;
  padding-left: 3px;
  width: 226px;
  position: absolute;
  border: 1px solid #c4354c;
  border-top: none;
  background-color: #fff;
}

.main-content .s-content-b .s-right #plist .list-h li a {
  text-decoration: none;
  color: #666;
  font-size: 0.75rem;
}

.main-content .s-content-b .s-right #plist li:hover .lh-wrap {
  border: .0625rem  solid #f00f34;
  border-bottom: none;
}

.main-content .s-content-b .s-right #plist li:hover {
  position: relative;
  top: 0;
  left: 0;
  z-index: 8;
}

.main-content .s-content-b .s-right #plist li:hover .scale-img {
  display: block;
}

.main-content .s-content-b .s-right #plist li:hover .SN {
  text-decoration: underline;
}

.main-content .s-content-b .s-right #plist .list-h .p-price {
  font-size: 12px;
  margin-bottom: 10px;
}

.main-content .s-content-b .s-right #plist .list-h .p-price strong {
  float: left;
  margin-left: 6px;
  font-family: verdana;
  font-size: 14px;
  color: #f00f34;
}

.main-content .s-content-b .s-right #plist .list-h .p-price label {
  margin-right: 6px;
  color: #6b6c6e;
}

.main-content .s-content-b .s-right #plist, .main-content .s-content-b .s-right #plist .list-h {
  position: relative;
  overflow: visible;
  z-index: 2;
}

#bottom_pager {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: block;
}

.bottom-first {
  margin-bottom: 20px;
}

.bottom-first .bottom-first-img {
  display: block;
  border-bottom: 1px solid #d6d6d6;
}

.bottom-first .bottom-first-img img {
  width: 100%;
}

.bottom-two {
  margin-bottom: 20px;
}

.bottom-two .linkothers {
  margin-top: 20px;
  margin-left: 120px;
  float: left;
}

.bottom-two .linkothers dd {
  margin-bottom: 20px;
}

.bottom-two .linkothers dd .img2 {
  display: none;
}

.bottom-two .linkothers a:hover .img1 {
  display: none;
}

.bottom-two .linkothers a:hover .img2 {
  display: block;
}

.bottom-two dl {
  float: left;
  margin-top: 20px;
  margin-right: 40px;
}

.bottom-two dl dt {
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  font-weight: bold;
  color: #313131;
}

.bottom-two dl dd a {
  height: 24px;
  line-height: 24px;
  color: #666;
  font-size: 12px;
}

.bottom-two dl dd:hover a {
  color: #e3393c;
}

.bottom-two .weixin-ma {
  text-align: center;
}

.bottom-two .weixin-ma .wei-xin dd {
  color: #666;
  font-size: 12px;
}

.bottom-two .weixin-ma .wei-xin dd:hover {
  color: #e3393c;
}

.bottom-two .shouji-ma {
  text-align: center;
}

.bottom-two .shouji-ma .shouji-xin dd {
  color: #666;
  font-size: 12px;
}

.bottom-two .shouji-ma .shouji-xin dd:hover {
  color: #e3393c;
}

.bottom-sr {
  height: 39px;
  line-height: 39px;
  background-color: #313131;
  text-align: center;
  clear: both;
}

.bottom-sr a {
  padding: 0 8px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border-right: 1px solid #fff;
}

.foorter-last p {
  color: #666;
  padding: 10px 0 0px;
  font-size: 12px;
}

.foorter-last p:nth-child(1) {
  text-align: center;
}

.foorter-last p:nth-child(1) a {
  color: #666;
}

.foorter-last .beian {
  text-align: center;
}

.right-side {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 999;
}

.right-side-menu {
  height: 100%;
  width: 40px;
  background-color: #2a2a2e;
  position: relative;
  float: left;
}

.right-side-menu ul {
  position: absolute;
}

.right-side-menu ul.menu-top {
  top: 15%;
}

.right-side-menu ul.menu-bot {
  bottom: 0;
}

.right-side-menu ul.menu-bot li {
  margin: 0;
}

.right-side-menu li {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}

.right-side-menu ul li#right_customer s {
  position: relative;
  top: -10px;
}

.right-side-menu ul s {
  width: 20px;
  border-bottom: 1px solid #505053;
  display: block;
  margin-left: 10px;
}

.right-side-menu li span {
  display: none;
  position: absolute;
  right: 60px;
  opacity: 0;
  top: 0;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #494949;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.right-side-menu li span:before {
  position: absolute;
  content: '';
  border-bottom: 10px dashed transparent;
  border-top: 10px dashed transparent;
  border-left: 10px solid #494949;
  right: -5px;
  top: 10px;
}

.right-side-menu li i {
  display: block;
  width: 40px;
  height: 40px;
}

.right-side-menu li i s {
  background: url(../img/Himall_web.png) no-repeat;
  border: none;
  margin: auto;
  position: relative;
}

.right-side-menu li i.user s {
  display: block;
  width: 19px;
  height: 19px;
  background-position: -1403px -26px;
  top: 10px;
}

.right-side-menu li i.cart s {
  display: block;
  width: 16px;
  height: 14px;
  background-position: -1429px -0px;
  top: 22px;
}

.right-side-menu li i.asset s {
  display: block;
  width: 16px;
  height: 18px;
  background-position: -1429px -26px;
  top: 10px;
}

.right-side-menu li i.at-shop s {
  display: block;
  width: 17px;
  height: 16px;
  background-position: -1455px 0;
}

.right-side-menu li i.at-goods s {
  display: block;
  width: 17px;
  height: 16px;
  background-position: -1455px 0;
  top: 12px;
}

.right-side-menu li i.history s {
  display: block;
  width: 19px;
  height: 19px;
  background-position: -1455px -26px;
  top: 10px;
}

.right-side-menu li:hover,
.right-side-menu li.active {
  background-color: #e3393c;
}

.right-side-menu li:hover span {
  display: block;
}

.right-side-menu li.side-cart {
  height: 120px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.right-side-menu li.side-cart p {
  color: #fff;
  padding: 0 14px;
  margin: 2px 0;
}

.right-side-menu li.side-cart em {
  display: inline-block;
  padding: 0 3px;
  min-width: 14px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #e3393c;
  color: #fff;
}

.right-side-menu li .side-point {
  display: none;
  position: absolute;
  right: 40px;
  top: 0;
  width: 120px;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #494949;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.right-side-menu li .side-point a {
  background-color: #e3393c;
  border-radius: 4px;
  padding: 0 10px;
  margin: 2px 0;
  color: #fff;
  display: inline-block;
  line-height: 20px;
}

.right-side-menu li .side-point:before {
  position: absolute;
  content: '';
  border-bottom: 10px dashed transparent;
  border-top: 10px dashed transparent;
  border-left: 10px solid #494949;
  right: -5px;
  top: 10px;
}
