html,
body {
    width: 100%;
    height: 100%;
}
*{margin: 0;padding: 0;}
#box {
    width: 100%;
    height: 100%;

    .bot {
        width: 100%;
        height: 530px;
        border: 1px solid #999;
        margin-top: 220px;

        #left {
            width: 432px;
            height: 100%;
            float: left;
            position: relative;

            #btp {
                width: 400px;
                height: 400px;
              
                img {
                    width: 400px;
                    height: 400px;
                 
                }
                #bean {
                    width: 100px;
                    height: 100px;
                    background-color: green;
                    filter: opacity(alpha： 30);
                    opacity: 0.3;
                    position: absolute;
                    display: none;
                }
            }

            #btb {
                height: 40px;
                width: 100%;
                padding-top: 20px;
                padding-left: 20px;
                margin-bottom: 20px;
                img {
                    width: 50px;
                    height: 36px;
                    margin-right: 3px;
                }
            }

            .collect {
                padding-left: 20px;
                font-size: 12px;
                color: #999;
            }

            #show {
                width: 200px;
                height: 200px;
                border: 1px solid yellow;
                background-repeat: no-repeat;
                position: absolute;
                top: 20px;
                left: 420px;
                display: none;
            }

        }

        .right {
            width: 500px;
            height: 100%;
            // background: green;
            float: left;

            .title {
                width: 100%;
                height: 70px;
                padding: 20px 10px 12px 0px;

                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    padding-bottom: 10px;
                }

                .shop {
                    font-size: 12px;
                }
            }

            .right-top {
                height: 98px;
                width: 100%;
                background: #fff2e8;
                margin-top: 10px;
                border-bottom: 1px dotted #999;

                .right-top1 {
                    height: 50px;
                    /* background: yellowgreen; */
                    display: flex;

                    .right-span1 {
                        font-size: 14px;
                        color: #6c6c6c;
                        margin-left: 13px;
                        line-height: 50px;
                    }

                    .right-span2 {
                        font-size: 13px;
                        color: #3c3c3c;
                        margin-left: 46px;
                        line-height: 50px;
                        flex: 1;
                    }

                    .right-p1 {
                        width: 84px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .p1-span1 {
                            font-size: 17px;
                            color: #6c6c6c;
                        }

                        .p1-span2 {
                            font-size: 14px;
                            color: #6c6c6c;
                            line-height: 14px;

                        }
                    }

                    .right-p2 {
                        width: 84px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .p2-span1 {
                            font-size: 17px;
                            color: #6c6c6c;
                        }

                        .p2-span2 {
                            font-size: 14px;
                            color: #6c6c6c;
                            line-height: 14px;

                        }
                    }
                }

                .right-top2 {
                    height: 48px;
                    /* background: yellowgreen; */
                    display: flex;

                    .right-span1 {
                        font-size: 14px;
                        color: #6c6c6c;
                        margin-left: 13px;
                        line-height: 48px;
                    }

                    .right-span2 {
                        color: #ff4400;
                        font-size: 24px;
                        margin-left: 30px;
                        line-height: 48px;
                        font-weight: 700;
                    }

                    .right-span3 {
                        width: 55px;
                        height: 22px;
                        background: #ff8e1b;
                        font-size: 14px;
                        color: #fff;
                        line-height: 22px;
                        text-align: center;
                        margin: 13px 0 0 8px;
                    }

                }

            }

            .right-skin {
                width: 500px;
                height: 210px;

                .size {
                    width: 100%;
                    padding: 10px;

                    .sz1 {
                        font-size: 14px;

                        padding-right: 34px;
                    }

                    i {
                        display: inline-block;
                        padding: 10px;
                        border: 2px solid #dcdcdc;
                        font-size: 10px;
                    }

                    i:hover {
                        border: 2px solid orangered;
                    }
                }

                .corlo {
                    padding-left: 10px;

                    .cl {
                        font-size: 14px;
                        padding-right: 6px;
                    }

                    i {
                        display: inline-block;
                        padding: 10px;
                        border: 2px solid #dcdcdc;
                        font-size: 10px;
                    }

                    i:hover {
                        border: 2px solid orangered;
                    }
                }

                .num {
                    padding-left: 10px;
                    font-size: 0px;
                    margin-bottom: 20px;

                    .nu {
                        font-size: 14px;
                        padding-right: 34px;
                    }

                    i {
                        display: inline-block;
                        padding: 10px;
                        font-size: 10px;

                    }
                }

                .jg {
                    padding-left: 10px;

                    .ljgm {
                        display: inline-block;
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                        background: pink;
                        text-align: center;
                        color: #e55133;
                        border: 1px solid #f0cab6;
                        margin-right: 10px;
                    }

                    .jrgwc {
                        display: inline-block;
                        background: orange;
                        text-align: center;
                        width: 182px;
                        height: 40px;
                        line-height: 40px;
                        color: #fff;

                        .ic {
                            padding-right: 5px;
                        }
                    }
                }

            }
        }

        .asize {
            width: 186px;
            height: 498px;
            border: 1px solid #999;
            float: right;
            text-align: center;

            h4 {
                color: #9b9b9b;
                font-size: 12px;
                padding-bottom: 14px;
            }

            ul {
                display: flex;
                width: 186px;
                height: 100%;
                //   overflow: hidden;
                align-items: center;
                flex-direction: column;

                li {
                    width: 140px;
                    height: 140px;
                    margin-bottom: 16px;
                    text-align: center;
                    position: relative;

                    p {
                        position: absolute;
                        width: 100%;
                        height: 25px;
                        left: 0;
                        background: #dcdcdc;
                        opacity: .6;
                        bottom: 0px;
                    }
                }

                img {

                    width: 140px;
                    height: 140px;
                }
            }
        }


    }

    .xuanxiang {
        width: 100%;
        height: 1000px;

        .sousuo {
            width: 190px;
            height: 100%;
            float: left;
        }

        #xq {
            width: 760px;
            // height: 300px;
            float: left;

            #list1 {
                width: 100%;
                height: 44px;
                background: #f4f4f4;
                border: 1px solid #e5e5e5;
                display: flex;
                text-align: center;
                line-height: 44px;

                li {
                    width: 134px;
                    height: 44px;
                    border: 1px solid #e5e5e5;
                }

                .active {
                    position: relative;
                }

                .active:before {
                    content: "";
                    display: inline-block;
                    height: 3px;
                    width: 134px;
                    position: absolute;
                    top: -2px;
                    left: 0px;
                    background: red;
                }

                .active:hover {
                    color: #e55133;
                }

            }

        }

        .con {
            width: 760px;
            height: 206px;
            background: green;

            ul {
                width: 760px;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 30%;
                    font-size: 12px;
                    line-height: 24px;

                }
            }
        }

        .now {
            position: fixed;
            // width: 100%;
            left: 0;
            top: 0;
        }
    }

}

#box .content {
    width: 1120px;
    height: 100%;
    margin: auto;
}