* {
    margin: 0;
    padding: 0;
}

.sideBar {
    /* width: 200px;
    height: 400px; */
    background: #ededed;
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.shark {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: pink;
    color: #fff;
}