* {
    margin: 0;
    padding: 0;
}

body,
div,
address,
blockquote,
iframe,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
th,
td,
form,
legend,
fieldset,
input,
button,
select,
textarea,
em,
i {
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    word-break: break-all
}

body {
    color: #545454;
    background: #eef3fa;
    font: 12px/1.5 'microsoft yahei', 'SimSun';
    width: 100%;
}

input {
    font: 12px/1.5 Arial, Verdana, 'SimSun';
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0 none;
    display: block;
    font-size: 0;
    vertical-align: top;
}

body {
    color: #545454;
    font: 12px/1.5 Arial, Verdana, 'SimSun';
    _background-image: url(about:blank);
    /* for IE6 */
    _background-attachment: fixed;
}


.content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.fl {
    float: left;
}

.fr {
    float: right
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #e4393c;
    text-decoration: underline
}

a:visited {
    color: #333;
    text-decoration: none;
}
.content{
    zoom: 1;
}
.content {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    zoom: 1;
    position: relative;
    overflow: hidden;
}

.top {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 30px;
    background: #F7F7F7;
}
/* .top-logo{
    margin-bottom: 20px;
} */
.top .favorite {
    float: left;
    padding: 0 11px 0 16px;
    position: relative;
    cursor: pointer
}

.top .favorite i {
    top: 8px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url(../img/20130725.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}

.top .favorite:hover i {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
}

.top .hover dt {
    background: #fff;
    border: 1px solid #DDD;
    border-bottom: 0;
    height: 28px;
}

.top span {
    display: inline
}

.top li s {
    top: 9px;
    left: 0;
    width: 0;
    height: 12px;
    border-left: 1px solid #ddd;
    overflow: hidden;
    position: absolute;
}

.top li b {
    background: url(../images/20130330A_1.png) no-repeat -95px -55px;
    top: 13px;
    right: 8px;
    width: 7px;
    height: 4px;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
    position: absolute;
    display: block;
}

.top li.hover b {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.top li b {
    /* background: url(../images/20130330A_1.png) no-repeat -95px -55px; */
    top: 13px;
    right: 8px;
    width: 7px;
    height: 4px;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
    position: absolute;
    display: block;
}

.quick_list {
    float: right;
    height: 30px;
}

.quick_list li {
    height: 30px;
    padding: 0 11px 0 12px;
    float: left;
    position: relative;
}

#logo {
    /* overflow: hidden; */
    padding: 10px 0;
    float: none;
    margin: 0;
    position: relative;
  
}

#logo img {
    display: inline-block;
}

#logo b {
    position: absolute;
    font-size: 30px;
    text-align: center;
    width: 150px;
    height: 46px;
    top: 18px;
    margin-left: 20px;
    background: #f1f1f1;
}

#reglist {
    background: #FFF;
    margin-bottom: 10px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    margin-top: 20px;
}

#reglist .reg {
    padding-right: 10px;
    position: relative;
    overflow: visible;
    margin-bottom: -1px;
    border-bottom: 1px solid #dddddd;
    height: 32px;
    line-height: 32px;
    background: #f2f2f2;
    width: 100%;
}

#reglist .reg .extra {
    position: absolute;
    right: 20px;
    top: 5px;
}

#reglist .mcenter {
    /* padding: 30px 0 20px; */
    border: solid #dddddd;
    border-width: 0px 1px 1px; 
}

#reglist .item {
    padding-top: 9px;
    height: 60px;
    line-height: 34px;
    position: relative;
    /* z-index: 1; */
    margin-bottom: 15px;
}
.item:nth-child(1){
    margin-top: 20px;
}
#regist .masie {
    width: 20%;
    text-align: right;
    font-size: 14px;
    color: #999;
    margin-right: 2px;
    padding-right: 5px;
    float: left;
    
}

#regist .intelligent-cellPhone,#reglist.intelligent-password{
    width: 100%;
    height: 60px;
}

#regist #cellPhone,#reglist #pwd ,#reglist #pwdRepeat_succeed {
    padding: 9px 40px;
    /* position: relative; */
    display: inline-block;
    border: 1px solid #999;
}

#regist #inf1 {
    position: absolute;
    left:38%;
    top: 10%;
}
#regist .focus{background: #ededed;position: absolute;left: 42%; top: 15%;border: 1px solid #ededed;padding:0 30px;display: inline-block;}
#regist .error{background: #FFEBEB;position: absolute;left: 42%; top: 15%;border: 1px solid #ffbdbe;height: 34px;padding:0 30px;display: inline-block;color: #e4393c;font-size: 14px;}

#texting {
    width: 28%;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.huakuai {
    width: 75%;
    height: 83%;
    background: #ededed;
    position: absolute;
    left: 0;
    z-index: 99;
    left: -60%;
}

.huakuai span:nth-of-type(1) {
    display: block;
    float: left;
    width: 80%;
    height: 100%;
    background: #58bc58;
}

.huakuai span:nth-of-type(2) {
    display: block;
    float: left;
    width: 20%;
    /* height: 100%; */
    background: #000;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 33px;
}

.sp1 {
    font-size: 12px;
    font-family: microsoft yahei, serif;
    color: #787878;
    line-height: 33px;
    text-align: center;
}

.box {
    width: 75%;
    height: 33px;
    position: relative;
    background: #ccc;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    font-family: microsoft yahei, serif;
    font-size: 12px;
}

.box .labelTip {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color: #787878;
    z-index: 2;
}
.check{
   margin-left: 20%;
   padding: 40px 0;
}
.item.zhuce{
    width: 190px;
    text-align: right;
    font-size: 14px;
    color: #999;
    padding-right: 10px;
}
#regist .btn-regist {
    width: 270px;
    height: 38px;
    font-family: 微软雅黑;
    font-size: 16px;
    text-indent: -9999px;
    font-weight: 800;
    overflow: hidden;
    background: url(../img/regist-btn.jpg) no-repeat;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin-left: 19%;
    color: rgb(255, 255, 255);
}
.zc{
    margin-bottom: 40px;
}
.txtRoll {
    background-image: linear-gradient(to right, black, black, white, black, black, white, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    animation: bgp 3s infinite linear;
}

@-webkit-keyframes bgp {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0;
    }
}